
@media screen and (max-width: 419px) {
  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  .row {
   width: 100%;
  }
  img{
    max-width: 100%;
  }
  #lezioni .row img{
    width: 250px;
    height: auto;
    margin: 20px auto;
  }
  /* secondo blocco */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin: 0 auto;
  }



}
